@font-face { font-family: 'DungGeunMo'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff'); font-weight: normal; font-style: normal; }
body {
    background-color:rgb(17, 12, 17) ;
}
h1{
    color:rgb(213,29,239);
    font-size: 40px;
    font-family:'DungGeunMo';
    font-weight: normal;
}
#title{
    text-align: center;
}
#pages{
    justify-content: center;
    margin: auto;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    text-align: center;
}
#article{
    display: block;
    width: 900px;
    margin: auto;
}
h2{
    color:rgb(213,29,239);
    font-family:'DungGeunMo';
    font-weight: normal;
}
p {
    color:rgb(213,29,239);
    font-family:'DungGeunMo';
}
a {
    color:cyan;
    text-decoration: none;
    font-family:'DungGeunMo';
}
@media(max-width:900px){
    #article{
        display: inline;
    }
    #pages{
        display: inline;
        text-align: left;
    }
}